ul
  - each o in attractions
    li
      .row
        .col-xs-6
          = o.title
          = o.description
          if (typeof user !== 'undefined' && user)
            if(user.starredAttraction.indexOf(o._id) > 0)
              a(href='/users/#{user._id}/attraction/#{o._id}/remove') Remove from Favorites
            else
              a(href='/users/#{user._id}/attraction/#{o._id}/add') Add to Favorite
          = o.user_id
          p First posted at&nbsp;
            = o.created_at
          p Last updated at&nbsp;
            = o.updated_at
          form(action='/attractions/#{o._id}',method='post',enctype='application/x-www-form-urlencoded')
            input(type='hidden',value='DELETE',name='_method')
            button(type='submit').
              Delete
          p
            a(href='/attractions/#{o._id}/edit') Edit
          p
            a(href='/attractions/#{o._id}') Show
        .col-xs-6
          if (o.photo)
            img(src=o.photo, alt=o.title ,width='300', height='300')
