li.well.well-sm(style="margin: 5px; width: 330px; vertical-align: top; display: inline-block;")
  p
    if (typeof user !== 'undefined' && user)
      if(user.starredAttraction.indexOf(attraction._id) >= 0)
        a.btn.btn-warning(href='/users/#{user._id}/attraction/#{attraction._id}/remove') Remove from Favorites
      else
        a.btn.btn-primary(href='/users/#{user._id}/attraction/#{attraction._id}/add') Add to Favorites
      if (currentUser && currentUser._id == attraction.user_id)
        span &nbsp;&nbsp;&nbsp;
        span
          strong
            mark &nbsp;My Post&nbsp;
  h2= attraction.title || 'N/A'
  p
    if (attraction.address)
      = attraction.address + ", "
    if (attraction.city)
      = attraction.city + ', '
    if (attraction.state)
      = attraction.state + ' '
    if (attraction.zip)
      = attraction.zip 
    
    if (attraction.dollar_low && attraction.dollar_high)
      p
        label Price Range:
        |&nbsp;$
        = attraction.dollar_low 
        |&nbsp;to&nbsp;$
        = attraction.dollar_high
  p
    label Category:&nbsp;
    = attraction.category
    i= ' (' + attraction.type+')'
  p
    label Description:&nbsp;
    if (attraction.description)
      = attraction.description
    else
      i No description given.
  p
    label Posted at:&nbsp;
    = attraction.created_at
  p
    label Last updated at:&nbsp;
    = attraction.updated_at
  
  if (attraction.photo)
    label Current Photo:
    br
    img(src=attraction.photo, alt=attraction.title ,width='300', height='300')
  br
  br
  p
    if (subPageName != "AttractionShow")
      form(action='/attractions/#{attraction._id}',method='post',enctype='application/x-www-form-urlencoded')
        p
          a.btn.btn-default(href='/attractions/#{attraction._id}') Details
          span &nbsp;&nbsp;&nbsp;
          if (currentUser && currentUser._id == attraction.user_id)
            a.btn.btn-primary(href='/attractions/#{attraction._id}/edit') Edit Post
            span &nbsp;&nbsp;&nbsp;
            input(type='hidden',value='DELETE',name='_method')
            button.btn.btn-danger(onclick="return confirm('Are you sure you want to delete this post?');", type='submit').
              Delete Post
