extends ../layout
link(rel='stylesheet', href='css/submenu.css')

block content
  p
    if (subPageName)
      p
        a.btn.btn-default(href='/attractions/') Show All Attractions
    if (currentUser)
      p
        a.btn.btn-primary.btn-lg(href='/attractions/new') Add New Post
    if (!currentUser)
      p
        a(href='/login') Login or signup
        span &nbsp;to add your own attraction.
  h1= subPageName || pageName

  .row
    .col-xs-3.sidebar
      .mini-submenu
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .list-group
        form(action='/attractions/' method='GET')
          .form-group
            span.list-group-item.active Submenu
              span.pull-right#slide-submenu
                i.fa.fa-times
            
            -
              var all = [{name: "Type", vals: ["Business", "Food", "Event"]},
                          {name: "Category", vals: ["Truck", "Restaurant",
                                                     "Clothing","Electronics",
                                                     "Yard Sale",
                                                     "Performance"]}];
            a.list-group-item(href="#") Text Search
              input(type="text", value=valueHolder.search, name="search", placeholder="Search")
            - each o in all
              a.list-group-item(href="#")
                = o.name + ' '
                select(type="text", name=o.name.toLowerCase())
                  option(value="")
                  - each oo in o.vals
                    if (valueHolder[o.name.toLowerCase()] == oo)
                      option(value=oo, selected)= oo
                    else
                      option(value=oo)= oo
            a.list-group-item(href="#") Zip Code
              input(type="text", value=valueHolder.zip, name="zip", placeholder="15217")
            a.list-group-item(href="#") Lowest Price
              input(type="text", value=valueHolder.dollar_low,name="dollar_low", placeholder="5")
            a.list-group-item(href="#") Highest Price
              input(type="text", value=valueHolder.dollar_high,name="dollar_high", placeholder="20")  
            a.list-group-item(href="#")
              button.btn.btn-default(type="submit") Filter Attractions
    .col-xs-9
      include _attractions